
@font-face {
	font-family: 'Intro';
	src: url('../fonts/8289.eot');
	src:  url('../fonts/8289.woff') format('woff'), url('../fonts/8289.ttf') format('truetype'), url('../fonts/8289.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

